.E6{
width: 800px;
padding: 50px;
}

.E6 img{
	margin-right: 40px;
}

.E7{
	width: 800px;

}

.E7 p, .E7 ol, .E7 img {
display: inline-block;
vertical-align: top;
margin-right: 30px;
}

.E8 {
padding-top: 100px;
padding-bottom: 100px;
}

.E9 {
	margin-top: 100px;
}

.E10 li{
	display: inline-block;
	

}

.E10 ul{
padding: 0px;
}