.E6{
width: 800px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;

}

.E6 img{
	margin-right: 40px;
}

.E7{
	width: 800px;

}

.E7 p, .E7 ol, .E7 img {
display: inline-block;
vertical-align: top;
margin-right: 30px;
}

.E8 {
padding-top: 100px;
padding-bottom: 100px;
}

.E9 {
	margin-top: 100px;
}

.E10 li{
	display: inline-block;
	

}

.E10 ul{
padding: 0px;
}

.E11 {
	position: relative;
	vertical-align: middle;
}

.E11 img{
	vertical-align: middle;
}

.btn-same{
	display: inline-block;
	border-radius: 5px;
	
	color: white;
	text-decoration: none;
background-color: rgb(224,109,119);
	vertical-align: middle;
	margin-right: 10px;

}

.btn-BN{
	
	padding: 30px 60px 25px 60px;
	font-size: 24px;


}

.btn-LM{
		padding: 15px 30px 15px 30px;
		font-size: 16px;

}

.btn-OK{
		padding: 5px 7px 5px 7px;
		font-size: 16px;
}

.btn-same1{
	display: inline-block;
	border-radius: 5px;
	padding: 15px 30px 15px 30px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	background-color: rgb(224,109,119);
	vertical-align: middle;
	margin-right: 10px;
	border: 0;
}


.nav1{
	float: left;
	padding: 15px 30px 15px 30px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	background-color: rgb(224,109,119);
	border: 0;

}

.nav1:hover{
opacity: 0.5;
}

.E12{
	list-style: none;
}

.E12 li:first-child a{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}

.E12 li:last-child a{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}