.E6{
width: 800px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;

}

.E6 img{
	margin-right: 40px;
}

.E7{
	width: 800px;

}

.E7 p, .E7 ol, .E7 img {
display: inline-block;
vertical-align: top;
margin-right: 30px;
}

.E8 {
padding-top: 100px;
padding-bottom: 100px;
}

.E9 {
	margin-top: 100px;
}

.E10 li{
	display: inline-block;
	

}

.E10 ul{
padding: 0px;
}

.E11 {
	position: relative;
	vertical-align: middle;
}

.E11 img{
	vertical-align: middle;
}

.btn-same{
	display: inline-block;
	border-radius: 5px;
	
	color: white;
	text-decoration: none;
background-color: rgb(224,109,119);
	vertical-align: middle;
	margin-right: 10px;

}

.btn-BN{
	
	padding: 30px 60px 25px 60px;
	font-size: 24px;


}

.btn-LM{
		padding: 15px 30px 15px 30px;
		font-size: 16px;

}

.btn-OK{
		padding: 5px 7px 5px 7px;
		font-size: 16px;
}

.btn-same1{
	display: inline-block;
	border-radius: 5px;
	padding: 15px 30px 15px 30px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	background-color: rgb(224,109,119);
	vertical-align: middle;
	margin-right: 10px;
	border: 0;
}


.nav1{
	float: left;
	padding: 15px 30px 15px 30px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	background-color: rgb(224,109,119);
	border: 0;
	margin-left: 0px;

}

.nav1:hover{
opacity: 0.5;
}

.E12{
	list-style: none;
	padding: 0px;
}

.E12 li:first-child a{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}

.E12 li:last-child a{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}

.page{
	font-size: 16px;
	color: rgb(224,104,119);
	text-decoration: none;
	float: left;
	margin-left: 25px;
	border-bottom: solid 3px rgb(224,104,119);
	padding: 0px 5px 5px 5px ;

}

.pagination{
	list-style: none;
}

.page-8{
	opacity: 0.5;
}

.pageZ{
	font-size: 16px;
	color: rgb(224,104,119);
	text-decoration: none;
	float: left;
	margin-left: 15px;
}
	

.media-img{
	float: left;
	margin-right: 10px;


}

.text-content{
	margin-left: 10px;
	overflow: hidden;

}


.comment{
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}

.u-list{
	list-style: none;
	padding: 0px;

}

.tabs{
	text-decoration: none;
	float: left;
	margin-left: 15px;
	font-weight: bold;
	border: solid 1px rgb(154,150,218);
	border-bottom: 0;
	padding:10px;
	padding-bottom: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 14px;
}

.tab-text{
	clear:both;
	padding-top: 15px;
	border: solid 1px rgb(154,150,218);
	padding:10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.tab-2{
	background-color: white;
	position: relative;
	top:1px;
	

}

